parameters:
	level: 9
	reportUnmatchedIgnoredErrors: true
	treatPhpDocTypesAsCertain: false
	paths:
		- ../../app
		- ../../config
		- ../../database
		- ../../routes
includes:
	- phpstan-baseline.neon
	- ../../vendor/nunomaduro/larastan/extension.neon
