parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\CreateNewUser\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Actions/Fortify/CreateNewUser.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\ResetUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Actions/Fortify/ResetUserPassword.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\UpdateUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Actions/Fortify/UpdateUserPassword.php

		-
			message: "#^Parameter \\#1 \\$photo of method App\\\\Models\\\\User\\:\\:updateProfilePhoto\\(\\) expects Illuminate\\\\Http\\\\UploadedFile, string given\\.$#"
			count: 1
			path: ../../app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:create\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\View\\\\View\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\RedirectResponse\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:edit\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\View\\\\View\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:index\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\View\\\\View\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:show\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\View\\\\View\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\RedirectResponse\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmmodificationsController\\:\\:update\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\RedirectResponse\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$filmmodification$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Undefined variable\\: \\$filmmodification$#"
			count: 1
			path: ../../app/Http/Controllers/FilmmodificationsController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Films\\:\\:\\$userActions\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Films\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\Films\\>\\:\\:\\$id\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Call to an undefined method App\\\\Models\\\\Films\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\Films\\>\\:\\:fill\\(\\)\\.$#"
			count: 2
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Call to an undefined method App\\\\Models\\\\Films\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\Films\\>\\:\\:save\\(\\)\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Expression \"\\$film\\-\\>genres\" on a separate line does not do anything\\.$#"
			count: 3
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Expression \"\\$film\\-\\>languages\" on a separate line does not do anything\\.$#"
			count: 3
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:createAndUpdate\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:createAndUpdate\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:createAndUpdate\\(\\) has parameter \\$films with no type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:store\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Parameter \\#1 \\$film of method App\\\\Services\\\\SaveFilmsLanguagesServices\\:\\:save\\(\\) expects App\\\\Models\\\\Films, App\\\\Models\\\\Films\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\Films\\> given\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Parameter \\#1 \\$filmId of method App\\\\Http\\\\Controllers\\\\FilmsController\\:\\:createAndUpdate\\(\\) expects int, array given\\.$#"
			count: 1
			path: ../../app/Http/Controllers/FilmsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Argument of an invalid type App\\\\Models\\\\Ratings supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingFilmModifications\\(\\) has parameter \\$allMods with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingInfoSpalte\\(\\) has parameter \\$allGenres with generic class Illuminate\\\\Database\\\\Eloquent\\\\Collection but does not specify its types\\: TKey, TModel$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingInfoSpalte\\(\\) has parameter \\$genresInput with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingLanguages\\(\\) has parameter \\$languagesInput with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingRatings\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingRatings\\(\\) has parameter \\$gradeMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingRatings\\(\\) has parameter \\$initIndexMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:handlingRatings\\(\\) has parameter \\$viewerMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:import\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ImportController\\:\\:receiveDuration\\(\\) should return int but returns int\\|string\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Property App\\\\Models\\\\Ratings\\:\\:\\$grades_id \\(int\\) does not accept int\\|string\\.$#"
			count: 1
			path: ../../app/Http/Controllers/ImportController.php

		-
			message: "#^Argument of an invalid type App\\\\Models\\\\Ratings supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Cannot access property \\$comment on App\\\\Models\\\\Ratings\\|null\\.$#"
			count: 1
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Cannot access property \\$grades_id on App\\\\Models\\\\Ratings\\|null\\.$#"
			count: 1
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Cannot call method save\\(\\) on App\\\\Models\\\\Ratings\\|null\\.$#"
			count: 1
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>filmmodifications\" on a separate line does not do anything\\.$#"
			count: 4
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>filmsource\" on a separate line does not do anything\\.$#"
			count: 1
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>filmstatus\" on a separate line does not do anything\\.$#"
			count: 2
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>genres\" on a separate line does not do anything\\.$#"
			count: 4
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>keywords\" on a separate line does not do anything\\.$#"
			count: 4
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>languages\" on a separate line does not do anything\\.$#"
			count: 4
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Expression \"\\$film\\-\\>ratings\" on a separate line does not do anything\\.$#"
			count: 3
			path: ../../app/Http/Controllers/RatingsController.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../app/Http/Controllers/StatsController.php

		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\HandleInertiaRequests\\:\\:share\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Http/Middleware/HandleInertiaRequests.php

		-
			message: "#^Method App\\\\Models\\\\Filmmodifications\\:\\:films\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Filmmodifications.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:filmmodifications\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:films\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:filmsource\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:filmstatus\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:genres\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:keywords\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:languages\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\Films\\:\\:ratings\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Films.php

		-
			message: "#^Method App\\\\Models\\\\FilmsFilms\\:\\:relationkind\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/FilmsFilms.php

		-
			message: "#^Method App\\\\Models\\\\Languages\\:\\:films\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Languages.php

		-
			message: "#^Method App\\\\Models\\\\Permissions\\:\\:viewer\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Permissions.php

		-
			message: "#^Method App\\\\Models\\\\Ratings\\:\\:film\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Ratings.php

		-
			message: "#^Method App\\\\Models\\\\Ratings\\:\\:grade\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Ratings.php

		-
			message: "#^Method App\\\\Models\\\\Ratings\\:\\:viewer\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Ratings.php

		-
			message: "#^Method App\\\\Models\\\\Viewers\\:\\:films\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Viewers.php

		-
			message: "#^Method App\\\\Models\\\\Viewers\\:\\:user\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Models/Viewers.php

		-
			message: "#^Parameter \\#1 \\$ability of static method Illuminate\\\\Support\\\\Facades\\\\Gate\\:\\:define\\(\\) expects string, int given\\.$#"
			count: 1
			path: ../../app/Providers/AuthServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:lower\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../app/Providers/FortifyServiceProvider.php

		-
			message: "#^Method App\\\\Providers\\\\TranslationServiceProvider\\:\\:jsonTranslations\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Providers/TranslationServiceProvider.php

		-
			message: "#^Method App\\\\Providers\\\\TranslationServiceProvider\\:\\:jsonTranslations\\(\\) has parameter \\$locale with no type specified\\.$#"
			count: 1
			path: ../../app/Providers/TranslationServiceProvider.php

		-
			message: "#^Method App\\\\Providers\\\\TranslationServiceProvider\\:\\:phpTranslations\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../app/Providers/TranslationServiceProvider.php

		-
			message: "#^Method App\\\\Providers\\\\TranslationServiceProvider\\:\\:phpTranslations\\(\\) has parameter \\$locale with no type specified\\.$#"
			count: 1
			path: ../../app/Providers/TranslationServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: ../../app/Providers/TranslationServiceProvider.php

		-
			message: "#^Cannot call method current\\(\\) on mixed\\.$#"
			count: 2
			path: ../../app/Services/HeaderLinkService.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\Viewers\\|null\\.$#"
			count: 1
			path: ../../app/Services/ReceiveCurrentViewerIdService.php

		-
			message: "#^Method App\\\\Services\\\\SaveFilmsGenresServices\\:\\:save\\(\\) has parameter \\$userInputs with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Services/SaveFilmsGenresServices.php

		-
			message: "#^Method App\\\\Services\\\\SaveFilmsLanguagesServices\\:\\:save\\(\\) has parameter \\$inputLanguages with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../app/Services/SaveFilmsLanguagesServices.php

		-
			message: "#^Method App\\\\Services\\\\Stats\\\\GenresService\\:\\:receive\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: ../../app/Services/Stats/GenresService.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: ../../app/Services/Stats/GenresService.php

		-
			message: "#^Method App\\\\Services\\\\Stats\\\\KeywordsService\\:\\:receive\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: ../../app/Services/Stats/KeywordsService.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: ../../app/Services/Stats/KeywordsService.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../config/cache.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../config/database.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../../config/sanctum.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../config/session.php

		-
			message: "#^Call to static method factory\\(\\) on an unknown class App\\\\Models\\\\Team\\.$#"
			count: 1
			path: ../../database/factories/UserFactory.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: ../../routes/console.php
